Repository letsblockit/letsblockit, pull requests merged in 2023-09, with the labels that each got.

#551 youtube-cleanup: update rule for channel clarification
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data, outdated

#553 github-cleanup: add option to hide the Explore section from the homepage
  data/filters/templates/github-cleanup.yaml
Labels: filter-data

#558 youtube-cleanup: update for new layout
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data, outdated

#561 google-search-cleanup: Hides "People also search for" on mobile versions
  data/filters/templates/google-search-cleanup.yaml
Labels: filter-data, new-filter

#562 Update fandom-cleanup: Add rule to block `age gate`
  data/filters/templates/fandom-cleanup.yaml
Labels: filter-data
