Repository letsblockit/letsblockit, pull requests merged in 2023-04, with the labels that each got.

#386 youtube-shorts: update for new subscription page design
  data/filters/templates/youtube-shorts.yaml
Labels: filter-data

#391 server: remove list etag mechanism
  src/server/list.go
  src/server/list_test.go
  src/server/server.go
  src/server/suite_test.go
Labels: backend

#399 youtube-cleanup: update for new hashtag design
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data, outdated

#403 youtube-cleanup: add option to disable ambient mode
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data
