Repository letsblockit/letsblockit, pull requests merged in 2023-05, with the labels that each got.

#415 url-param-remover: update description to direct users to maintained community lists
  data/filters/templates/url-param-remover.yaml
Labels: filter-data

#419 ci: add oci annotations to container labels
  .github/workflows/container-release.yml
  flake.nix
  nix/labels.nix
  scripts/update-labels.sh
Labels: packaging

#425 google-search-cleanup: update to match the new "From sources across the web" content
  data/filters/templates/google-search-cleanup.yaml
Labels: filter-data

#432 youtube-channel: add support for mobile website
  data/filters/templates/youtube-channel.yaml
Labels: filter-data

#437 github-cleanup: add new template to declutter the GitHub interface
  data/filters/templates/github-cleanup.yaml
Labels: filter-data, new-filter

#438 server: add preset source and license links to generated rules
  data/data.go
  data/filters/templates/search-results.yaml
  src/filters/list_test.go
  src/filters/parsing.go
  src/filters/parsing_test.go
  src/filters/repository.go
  src/filters/template.go
  src/filters/testdata/presets/simple-template/sourced-preset.txt
Labels: backend
