Repository letsblockit/letsblockit, pull requests merged in 2023-06, with the labels that each got.

#454 youtube-watched: update for new layout
  data/filters/templates/youtube-watched.yaml
Labels: filter-data, outdated

#455 youtube-cleanup: Remove channel info at bottom of video description
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data

#463 youtube-mixes: Add support for mobile YouTube
  data/filters/templates/youtube-mixes.yaml
Labels: filter-data

#462 youtube-video-title: Add support for mobile YouTube
  data/filters/templates/youtube-video-title.yaml
Labels: filter-data

#459 youtube-cleanup: Add support for mobile YouTube
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data

#458 youtube-channel: improve rule performance
  data/filters/templates/youtube-channel.yaml
Labels: filter-data

#465 search-results: remove Bing support and link to uBlacklist project
  data/filters/templates/search-results.yaml
Labels: filter-data, outdated

#464 youtube-mixes: add support for mobile youtube (homepage)
  data/filters/templates/youtube-mixes.yaml
Labels: filter-data

#460 youtube-search-cleanup: fix the rules to actually hide elements
  data/filters/templates/youtube-search-cleanup.yaml
Labels: filter-data

#476 search-results: update duckduckgo rule
  data/filters/templates/search-results.yaml
Labels: filter-data, outdated

#477 search-results: add preset for BlockModReposting project
  cmd/utils/update-presets.go
  data/filters/presets/search-results/blockmodreposting.txt
  data/filters/templates/search-results.yaml
Labels: filter-data

#466 twitter: remove both templates
  data/filters/templates/twitter-tweets-by-hashtag.yaml
  data/filters/templates/twitter-tweets-by-user.yaml
Labels: filter-data, deprecation

#478 server: remove vector package and options
  flake.nix
  nix/vector.nix
  src/server/monitoring.go
  src/server/server.go
Labels: self-hosting, deprecation

#480 youtube-cleanup: add option to hide the chapter timeline in the video description box
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data
