Repository letsblockit/letsblockit, pull requests merged in 2023-08, with the labels that each got.

#519 youtube-shorts: avoid gaps in video grids by hiding the shelf's container
  data/filters/templates/youtube-shorts.yaml
Labels: filter-data

#526 youtube-music-cleanup: add new template for music.youtube.com
  data/filters/templates/youtube-music-cleanup.yaml
Labels: filter-data, new-filter

#528 youtube-music-cleanup: fix typo
  data/filters/templates/youtube-music-cleanup.yaml
Labels: filter-data

#529 youtube-shorts: hide individual shorts in recommendation sidebar
  data/filters/templates/youtube-shorts.yaml
Labels: filter-data

#524 search-results: add DuckDuckGo and Brave .onion
  data/filters/templates/search-results.yaml
Labels: filter-data

#483 server: update pgx driver version
  .golangci.yml
  go.mod
  go.sum
  nix/letsblockit.nix
  src/db/db.go
  src/db/models.go
  src/db/qInstances.sql.go
  src/db/qLists.sql.go
  src/db/qUsers.sql.go
  src/db/queries/qLists.sql
  src/db/queries/qUsers.sql
  src/db/sqlc.yaml
  src/db/store.go
  src/db/test_store.go
  src/server/filters.go
  src/server/filters_test.go
  src/server/list.go
  src/server/list_test.go
  src/server/news.go
  src/server/news_test.go
  src/server/server.go
  src/server/suite_test.go
  src/server/user.go
  src/users/bans_test.go
  src/users/prefs.go
  src/users/prefs_test.go
Labels: backend

#535 fandom-cleanup: fix background cosmetic issue
  data/filters/templates/fandom-cleanup.yaml
Labels: bug, filter-data

#538 github-cleanup: add option to hide prompts to test copilot
  data/filters/templates/github-cleanup.yaml
Labels: filter-data
