Repository letsblockit/letsblockit, pull requests merged in 2023-07, with the labels that each got.

#485 youtube-shorts: update for new mobile search layout
  README.md
  data/asset-hashes.json
  data/assets/images/contributors/chedanix.webp
  data/assets/images/contributors/krisu5.webp
  data/contributors.json
  data/filters/templates/youtube-shorts.yaml
Labels: filter-data, outdated

#494 add new contributors
  README.md
  data/contributors.json
  data/filters/templates/youtube-cleanup.yaml
Labels: contributors

#482 db: remove filter instances for twitter templates
  src/db/migrations/0010_twitter_remove.sql
Labels: backend

#491 fandom-cleanup: add new template for Wikia sites
  data/filters/templates/fandom-cleanup.yaml
Labels: filter-data, new-filter

#501 google-search-cleanup: update "People also ask" rule
  data/filters/templates/google-search-cleanup.yaml
Labels: filter-data, outdated

#498 add sammcj to contributors
  README.md
  data/contributors.json
Labels: contributors

#505 aliexpress-stores: add new template to hide results by store name
  data/filters/templates/aliexpress-stores.yaml
Labels: filter-data, new-filter

#513 github-cleanup: allow to hide the "Overwhelmed by notifications?" prompt
  data/filters/templates/github-cleanup.yaml
Labels: filter-data

#512 fandom-cleanup: add rule to hide notification popups
  data/filters/templates/fandom-cleanup.yaml
Labels: filter-data

#510 youtube-shorts: refactor into less rules
  data/filters/templates/youtube-shorts.yaml
Labels: filter-data

#516 youtube-shorts: fix regression in search results
  data/filters/templates/youtube-shorts.yaml
Labels: filter-data

#515 youtube-cleanup: remove obsolete rule
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data

#514 woolworths-cleanup: add new woolworths (AU) search results cleanup template
  data/filters/templates/woolworths-cleanup.yaml
Labels: filter-data, new-filter
