Repository letsblockit/letsblockit, pull requests merged in 2023-10, with the labels that each got.

#566 youtube-cleanup: disable infinite srolling in Youtube Shorts
  data/filters/templates/youtube-cleanup.yaml
Labels: filter-data

#571 change BPower0036 to Nomes77 as contributor
  README.md
  data/asset-hashes.json
  data/assets/images/contributors/BPower0036.webp
  data/assets/images/contributors/Nomes77.webp
  data/contributors.json
  data/filters/templates/fandom-cleanup.yaml
  data/filters/templates/github-cleanup.yaml
  data/filters/templates/search-results.yaml
  data/filters/templates/url-param-remover.yaml
  data/filters/templates/youtube-channel.yaml
  data/filters/templates/youtube-cleanup.yaml
  data/filters/templates/youtube-mixes.yaml
  data/filters/templates/youtube-music-cleanup.yaml
  data/filters/templates/youtube-recommendations.yaml
  data/filters/templates/youtube-shorts.yaml
  data/filters/templates/youtube-upcoming-videos.yaml
  data/filters/templates/youtube-video-title.yaml
Labels: contributors

#576 github-cleanup: remove outdated option to hide "For you" feed
  data/filters/templates/github-cleanup.yaml
Labels: filter-data, outdated

#582 youtube-music-cleanup: hide videos of channels when player is open
  data/filters/templates/youtube-music-cleanup.yaml
Labels: filter-data

#581 youtube-music-cleanup: fix broken `/moods_and_genres` page
  data/filters/templates/youtube-music-cleanup.yaml
Labels: filter-data

#584 hackernews-cleanup: add new template
  README.md
  data/asset-hashes.json
  data/assets/images/contributors/someguyinbaltimore.webp
  data/contributors.json
  data/filters/templates/hackernews-cleanup.yaml
Labels: filter-data, new-filter

#585 server: templates can hold raw rules for simplicity
  data/filters/README.md
  data/filters/templates/fandom-cleanup.yaml
  data/filters/templates/github-cleanup.yaml
  data/filters/templates/linuxfr-cleanup.yaml
  data/filters/templates/woolworths-cleanup.yaml
  data/filters/templates/youtube-homepage-cleanup.yaml
  data/filters/templates/youtube-upcoming-videos.yaml
  src/filters/list_test.go
  src/filters/parsing.go
  src/filters/parsing_test.go
  src/filters/repository.go
  src/filters/template.go
  src/filters/template_test.go
  src/filters/testdata/list.yaml
  src/filters/testdata/templates/raw-rules.yaml
Labels: backend
