Repository letsblockit/letsblockit, pull requests merged in 2023-01, with the labels that each got.

#318 youtube-shorts: hide the shorts shelf in channel homepage
  data/filters/youtube-shorts.yaml
Labels: enhancement, filter-data

#326 youtube-shorts: remove outdated rules matching by duration
  data/filters/youtube-shorts.yaml
Labels: filter-data

#296 youtube-channel: create template to hide videos from given channels
  data/filters/youtube-channel.yaml
Labels: filter-data, new-filter

#327 youtube-watched: fix use of channel rule without homepage
  data/filters/youtube-watched.yaml
Labels: bug, filter-data

#294 youtube-cleanup: remove outdated rules targeting old design
  data/filters/youtube-cleanup.yaml
Labels: filter-data

#332 youtube-shorts: hide shelves from search results
  data/filters/youtube-shorts.yaml
Labels: filter-data

#334 Miscellaneous DB schema cleanups
  src/db/interface.go
  src/db/migrations/0008_schema_cleanups.up.sql
  src/db/models.go
  src/db/qInstances.sql.go
  src/db/qLists.sql.go
  src/db/qStats.sql.go
  src/db/queries/qInstances.sql
  src/db/queries/qLists.sql
  src/db/queries/qStats.sql
  src/server/filters.go
  src/server/filters_test.go
  src/server/list.go
  src/server/list_test.go
  src/server/news_test.go
  src/server/server.go
  src/server/suite_test.go
  src/server/user.go
  src/users/prefs_test.go
Labels: backend

#335 youtube-shorts: improve rule performance
  data/filters/templates/youtube-shorts.yaml
Labels: filter-data
