Repository letsblockit/letsblockit, pull requests merged in 2024-01, with the labels that each got.

#617 soundcloud-reposts: fix typo
  data/filters/templates/soundcloud-reposts.yaml
Labels: filter-data

#622 youtube-video-duration: filter out videos by their duration
  data/filters/templates/youtube-video-duration.yaml
Labels: filter-data, new-filter

#625 youtube-video-duration: fix examples
  data/filters/templates/youtube-video-duration.yaml
Labels: bug, filter-data

#626 youtube-watched: seperate rules for channel and subscription pages
  data/filters/templates/youtube-watched.yaml
  src/db/migrations/0012_youtube-watched_add-channel.up.sql
Labels: filter-data

#627 youtube-watched: add contributor
  data/filters/templates/youtube-watched.yaml
Labels: contributors
